@import "tailwindcss";
@tailwind utilities;
@theme {
  --color-main: #9d4edd;
  --color-background: #171515;
  --color-card: #292729;
  --color-small-card: #2c2c2c;
  --color-input: #171515;
  --color-border: #858585;
  --color-text-secondary: #b0b0b0;
  --font-family-main: 'Inter', sans-serif;
  
  /* Couleurs supplémentaires pour cohérence */
  --color-text-primary: #ffffff;
  --color-text-secondary: #e3e3e3;
  --color-main-hover: #b865f0;
  --color-card-hover: #343134;
  --color-input-focus: #9d4edd;
  --color-border-hover: #a3a3a3;
  
  /* Variables de taille */
  --font-size-main: 15px;
  --line-height-main: 1.6;
}

:root {
    --main-color: #9d4edd;
    --background-color: #171515;
    --card-color: #292729;
    --input-color: #171515;
    --border-color: #858585;
    --font-family: 'Inter', sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: var(--background-color);
    line-height: 1.6;
    font-size: 15px;
  }